/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    img{
        width: 180px;
        height: 260px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    img{
        width: 960px;
        height: 1950px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    img{
        width: 800px;
        height: 600px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    img{
        width: 1920px;
        height: 1080px;
    }
}